.carousel {
  background-color: $light-blue;
}
.carousel__title {
  @include title-mobile;
  color: $white;
  text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}
.carousel__inner {}

@media (min-width: $tablet-width) {
  .carousel__title {
    @include title-tablet;
  }
}

@media (min-width: $desktop-width) {
  .carousel {
    background-color: $light-blue;
  }

  .carousel__title {
    @include title-desktop;
  }

  .carousel__inner {}

}
