.header {
  // background-color: $french-blue;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 5px;
}

.header__logo {
  width: 150px;
}

.header__toggle {
  width: 40px;
  padding: 10px;
}

.header__toggle-mobile {
  & svg {
      fill: $white;


      &:hover,
      &:focus {
        fill: $french-blue;
        opacity: 0.1;
      }

      &:active {
        opacity: 0.3;
      }
  }
}

.header__toggle-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .header__logo {
    width: 250px;
  }
  .header__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: center;
  }
  .header__toggle {
    width: 230px;
    padding: 19px 30px;
    margin-left: 25px;
  }
  .header__toggle-mobile {
    display: none;
  }
  .header__toggle-text {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    width: 368px;
  }
  .header__wrap {
    width: 800px;
  }
  .header__toggle {
    padding: 15px 34px 22px 31px;
    width: 250px;
  }
  .header__nav {
    padding: 10px 8px 0 15px;
  }
}
