.offers {

}

.offers__title {
  color: $cherry;

}
.offers__text {
  font-weight: 700;
  &--sinset {

  }
  &--skarbet {

  }
}
.offers__img {

}
@media (min-width: $tablet-width) {
  .offers {}

  .offers__title {}

  .offers__text {
    &--sinset {}

    &--skarbet {}
  }

  .offers__img {}
}

@media (min-width: $desktop-width) {
  .offers {}

  .offers__title {
    font-size: 19px;
    margin: 0;
    padding: 15px 26px 10px;
  }

  .offers__text {
    font-size: 19px;
    margin: 0;

    &--sinset {
      padding: 0 20px 16px 69px;
      padding-left: 69px;
      padding-bottom: 16px;
    }

    &--skarbset {
      text-align: right;
      padding-right: 60px;
    }
  }

  .offers__img {}
}
