.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 290px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $carbon;
}

.page__container {
  width: 290px;
  margin: 0 auto;
}

.page__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px 10px 15px;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

@media(min-width: $tablet-width) {
  .page {
    font-size: 16px;
  }
  .page__container {
    width: 668px;
  }
}

@media(min-width: $desktop-width) {
  .page {
    font-size: 14px;
  }

  .page__header {
     padding: 10px 8px 10px 15px;
  }
  .page__container {
    width: 1190px;
  }
}
