.product-card {
  @include ul-reset;
}

.product-card__item {
  border: 2px solid $silver;
  border-radius: 10px;
  margin-bottom: 30px;
}

.product-card__image {}

.product-card__image-icon {}

.product-card__description {
  width: 223px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.product-card__link {
  text-decoration: none;
  color: $cherry;
  font-size: 25px;
}

.product-card__title {}

.product-card__text {

}

.product-card__btn {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}

.product-card__btn-available {
  &--yes {
    color: $green;
  }
  &--no {
    color: $grey;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    @include ul-reset;
  }

  .product-card__item {
    display: flex;
  }

  .product-card__image {}

  .product-card__image-icon {}

  .product-card__description {
    width: 345px;
    margin: 0;
    padding: 50px 50px 25px;
  }

  .product-card__link {}

  .product-card__title {}

  .product-card__text {
    font-size: 23px;
    line-height: 30px;
  }

  .product-card__btn {
     font-size: 25px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    @include ul-reset;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & .product-card__item:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  .product-card__item {
    display: block;
    margin-right: 17px;
    margin-bottom: 0;
    min-height: 486px;
  }

  .product-card__image {

  }

  .product-card__image-icon {

  }

  .product-card__description {
    width: 250px;
    box-sizing: border-box;
    padding: 8px 32px 20px;
  }

  .product-card__link {
    font-size: 19px;
  }

  .product-card__title {
    margin: 0 0 19px 0;
  }

  .product-card__text {
     margin: 0 0 35px 0;
     font-size: 15px;
     line-height: 24px;
  }

  .product-card__btn {
    font-size: 18px;
  }
  .product-card__btn .product-card__btn-available--yes {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
