.promo__title {
  @include title-mobile;
   margin: 0;
   padding: 0 20px 30px;
}

.promo__text {
  margin: 0 auto;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
}

.promo__subtitle {
  text-align: center;
  font-size: 18px;
  color: $reversed-gray;
}

.promo__list {
  width: 290px;
}

@media (min-width: $tablet-width) {
  .promo__title {
    @include title-tablet;
  }
  .promo__text {
    font-size: 23px;
  }

  .promo__subtitle {
    font-size: 30px;
  }

  .promo__list {
    width: 668px;
  }

  .promo__offers {
    position: relative;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    @include title-desktop;
    padding: 0 50px 43px;
  }

  .promo__text {
    padding: 0 225px 40px;
    font-size: 29px;
    line-height: 33px;
  }
  .promo__subtitle {
    text-align: left;
    font-size: 28px;
    letter-spacing: -1px;
    margin: 0;
    padding: 0 20px 47px 5px;
  }

  .promo__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .promo__list {
    width: 810px;
  }
  .promo__offers {
    display: block;
    width: 370px;
    margin-left: 10px;
  }
}
