@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2"), url("../fonts/opensans.woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2"), url("../fonts/opensansbold.woff"); }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 260px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;
  color: #444444; }

.page-header {
  min-height: 79px; }
  @media (min-width: 768px) {
    .page-header {
      min-height: 89px; } }
  @media (min-width: 1150px) {
    .page-header {
      min-height: 89px; } }

.page-header__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 20px;
  height: 20px; }
  @media (min-width: 768px) {
    .page-header__toggle {
      display: none; } }

.page-header__nav {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  color: #000000; }
  @media (min-width: 768px) {
    .page-header__nav {
      display: flex;
      flex-wrap: wrap;
      width: 668px; } }
  @media (min-width: 1150px) {
    .page-header__nav {
      width: 1050px; } }
  .page-header__nav--nojs .page-header__site-list,
  .page-header__nav--nojs .page-header__user-list {
    display: block; }
    @media (min-width: 768px) {
      .page-header__nav--nojs .page-header__site-list,
      .page-header__nav--nojs .page-header__user-list {
        display: flex; } }
  .page-header__nav--nojs .page-header__toggle {
    display: none; }
  .page-header__nav--closed .page-header__toggle {
    background: url("../img/icon-menu-open.svg") no-repeat 50%;
    border: 0;
    cursor: pointer; }
    @media (min-width: 768px) {
      .page-header__nav--closed .page-header__toggle {
        display: none; } }
  .page-header__nav--closed .page-header__site-list,
  .page-header__nav--closed .page-header__user-list {
    display: none; }
    @media (min-width: 768px) {
      .page-header__nav--closed .page-header__site-list,
      .page-header__nav--closed .page-header__user-list {
        display: flex; } }
  .page-header__nav--opened .page-header__toggle {
    background: url("../img/icon-menu-close.svg") no-repeat 50%;
    border: 0;
    cursor: pointer; }
    @media (min-width: 768px) {
      .page-header__nav--opened .page-header__toggle {
        display: none; } }
  .page-header__nav--opened .page-header__site-list,
  .page-header__nav--opened .page-header__user-list {
    display: block; }
    @media (min-width: 768px) {
      .page-header__nav--opened .page-header__site-list,
      .page-header__nav--opened .page-header__user-list {
        display: flex; } }

.page-header__top {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 22px 30px 22px 27px;
  border-bottom: 1px solid #ececec;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec; }
  @media (min-width: 768px) {
    .page-header__top {
      justify-content: flex-start;
      flex-grow: 1;
      padding: 21px 50px 21px 0;
      border: none;
      box-shadow: none; } }
  @media (min-width: 1150px) {
    .page-header__top {
      order: 1;
      padding: 8px 0 0 1px; } }

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px; }
  .page-header__logo[href]:hover, .page-header__logo[href]:focus {
    opacity: 0.6; }
  .page-header__logo[href]:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .page-header__logo {
      width: 113px;
      height: 46px; } }
  @media (min-width: 1150px) {
    .page-header__logo {
      width: 149px;
      height: 72px; } }

@media (min-width: 768px) {
  .page-header__site-list {
    order: 1; } }

@media (min-width: 1150px) {
  .page-header__site-list {
    order: 0; } }

@media (min-width: 1150px) {
  .page-header__user-list {
    order: 2; } }

.page-header__stock-list {
  display: none;
  width: 500px;
  z-index: 2; }
  @media (min-width: 1150px) {
    .page-header__stock-list {
      display: flex;
      order: 3; } }

.page-header__text-desktop {
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 0 18px 20px;
  text-align: right;
  z-index: 2; }
  @media (min-width: 768px) {
    .page-header__text-desktop {
      display: block;
      width: 290px;
      font-size: 15px;
      margin-left: auto;
      order: 2; } }
  @media (min-width: 1150px) {
    .page-header__text-desktop {
      order: 4; } }

.page-main {
  min-width: 320px; }

.page-footer {
  min-width: 320px;
  min-height: 160px;
  box-sizing: border-box;
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .page-footer {
      min-height: 143px; } }

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 668px;
      margin: 32px auto; } }
  @media (min-width: 1150px) {
    .page-footer__wrapper {
      width: 1050px;
      margin: 28px auto; } }

.page-footer__logo {
  display: none; }
  @media (min-width: 768px) {
    .page-footer__logo {
      display: block;
      width: 110px; } }
  @media (min-width: 1150px) {
    .page-footer__logo {
      width: 144px;
      margin: 0;
      margin-top: 4px; } }

.page-footer__logo-icon[href]:hover, .page-footer__logo-icon[href]:focus {
  fill: #46c1ae; }

.page-footer__logo-icon[href]:active {
  fill: #46c1ae;
  opacity: 0.3; }

.page-footer__social {
  width: 260px;
  min-height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5; }
  @media (min-width: 768px) {
    .page-footer__social {
      border: none;
      margin-right: 58px; } }
  @media (min-width: 1150px) {
    .page-footer__social {
      margin: 0;
      width: 130px; } }

.page-footer__copyright {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      margin: 0;
      width: 190px; } }
  @media (min-width: 1150px) {
    .page-footer__copyright {
      margin: 0; } }

.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 14px 10px;
  line-height: 20px;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444; }
  .button:hover, .button:focus {
    color: #ffffff;
    background-color: #444444; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444; }

.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-weight: bold;
  z-index: 10; }
  @media (min-width: 768px) {
    .site-list {
      display: flex;
      flex-wrap: wrap;
      width: 335px;
      font-size: 15px; } }
  @media (min-width: 1150px) {
    .site-list {
      width: 450px;
      font-size: 17px; } }

.site-list__item {
  border-top: 1px solid #ececec; }
  @media (min-width: 768px) {
    .site-list__item {
      border: none; } }
  @media (min-width: 1150px) {
    .site-list__item {
      border: none; }
      .site-list__item:first-child .site-list__link {
        border-right: 1px solid #f1f1f1; } }

.site-list__link {
  display: block;
  width: 230px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 28px 31px 26px;
  text-decoration: none;
  color: #000000; }
  .site-list__link:hover, .site-list__link:focus {
    color: rgba(0, 0, 0, 0.6); }
  .site-list__link:active {
    color: rgba(0, 0, 0, 0.6); }
  @media (min-width: 768px) {
    .site-list__link {
      width: 167px;
      box-sizing: border-box;
      padding: 18px 10px 18px 0; } }
  @media (min-width: 1150px) {
    .site-list__link {
      width: 185px;
      box-sizing: border-box;
      padding: 34px 0 32px 0;
      margin-right: 35px; } }

.user-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .user-list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 398px; } }

.user-list__item {
  border-top: 1px solid #ececec; }
  @media (min-width: 768px) {
    .user-list__item {
      border-top: none; } }

.user-list__link {
  position: relative;
  display: block;
  width: 240px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 27px 10px 28px 36px;
  text-decoration: none;
  color: #000000; }
  .user-list__link:hover[href] .user-list__text,
  .user-list__link:focus[href] .user-list__text {
    opacity: 0.6; }
  .user-list__link[href]:active .user-list__text {
    opacity: 0.3; }
  .user-list__link[href]:hover .user-list__user-icon,
  .user-list__link[href]:focus .user-list__user-icon {
    fill: #63d1bb;
    opacity: 1; }
  .user-list__link[href]:active .user-list__user-icon {
    opacity: 0.3;
    fill: #63d1bb; }

@media (min-width: 768px) {
  .user-list__link--search {
    width: 84px;
    box-sizing: border-box;
    padding: 44px 40px;
    border-left: 1px solid #ececec; } }

@media (min-width: 768px) {
  .user-list__link--cart {
    width: 265px;
    box-sizing: border-box;
    padding: 34px 0 32px 81px;
    border-left: 1px solid #ececec; } }

@media (min-width: 768px) {
  .user-list__link-text {
    display: none; } }

.user-list__user-icon {
  position: absolute;
  left: -8px;
  opacity: 0.2; }
  @media (min-width: 768px) {
    .user-list__user-icon {
      top: 36px;
      left: 33px; } }

.stock-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .stock-list {
      box-sizing: border-box;
      margin: 0; } }
  @media (min-width: 1150px) {
    .stock-list {
      display: flex;
      flex-wrap: wrap;
      width: 506px; } }

.stock-list__link {
  display: block;
  width: 185px;
  box-sizing: border-box;
  margin-right: 35px;
  color: #000000;
  padding: 17px 10px 30px 0;
  text-decoration: none; }
  .stock-list__link:hover, .stock-list__link:focus {
    opacity: 0.6; }
  .stock-list__link:active {
    opacity: 0.3; }

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 18px 37px 15px 38px; }
  @media (min-width: 768px) {
    .social {
      justify-content: space-between;
      width: 180px;
      padding: 16px 20px 15px;
      margin: 0; } }
  @media (min-width: 1150px) {
    .social {
      width: 210px;
      padding: 19px 37px 15px 32px; } }

.social__link {
  display: block; }
  .social__link:hover svg,
  .social__link:focus svg {
    fill: #46c1ae; }
  .social__link:active svg {
    opacity: 0.3; }

.developer {
  position: relative;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  box-sizing: border-box;
  padding: 22px 25px 22px 39px; }
  @media (min-width: 768px) {
    .developer {
      padding: 0;
      padding-left: 9px; } }
  @media (min-width: 1150px) {
    .developer {
      width: 222px;
      padding: 0;
      padding-left: 37px; } }

.developer__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #000000; }
  @media (min-width: 768px) {
    .developer__link {
      width: 184px;
      margin: 0;
      padding: 0;
      margin-top: -4px; } }
  .developer__link:hover .developer__link-icon,
  .developer__link:focus .developer__link-icon {
    fill: #46c1ae; }
  .developer__link:active .developer__link-icon {
    opacity: 0.3; }

.developer__link-icon {
  width: 100%;
  margin-left: 28px;
  border: none;
  fill: #63d1bb; }

.modal-block {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 320px;
  min-height: 336px;
  padding: 10px 30px 40px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25); }
  .modal-block--opened {
    display: block; }
  @media (min-width: 768px) {
    .modal-block {
      width: 566px;
      padding: 10px 108px; } }

.promo {
  position: relative;
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
  margin: 0 auto;
  margin-bottom: 27px; }
  .promo--photo-bg {
    margin-bottom: 31px;
    background-color: #fafafa;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -17px; }
    @media (min-resolution: 2dppx) {
      .promo--photo-bg {
        background-image: url("../img/hero-mobile@2x.jpg");
        background-size: 575px; } }
  @media (min-width: 768px) {
    .promo {
      margin-bottom: 78px;
      margin-top: -64px; }
      .promo--photo-bg {
        margin-bottom: 38px;
        background-image: url("../img/hero-tablet@1x.jpg");
        background-repeat: no-repeat;
        background-position: center; } }
    @media (min-width: 768px) and (min-resolution: 2dppx) {
      .promo--photo-bg {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-size: 1150px auto;
        background-position-y: 0; } }
  @media (min-width: 768px) {
      .promo::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 24px;
        bottom: -12px;
        background-image: url("../img/bg-zigzag-fill.svg");
        background-repeat: repeat;
        background-size: contain; } }
  @media (min-width: 1150px) {
    .promo {
      margin-top: -74px;
      margin-bottom: 125px; }
      .promo--photo-bg {
        margin-bottom: 66px;
        background-image: url("../img/hero-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: center; } }
    @media (min-width: 1150px) and (min-resolution: 2dppx) {
      .promo--photo-bg {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1150px auto;
        background-position-y: 0; } }
  @media (min-width: 1150px) {
      .promo::after {
        height: 36px;
        bottom: -20px;
        background-image: url("../img/zigzag-fill-desktop.svg");
        background-repeat: repeat; } }
  .promo--form {
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .promo--form {
        margin-bottom: 46px; } }

.promo__title {
  font-size: 25px;
  line-height: 30px;
  font-size: 27px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  color: #000000;
  width: 260px;
  padding-top: 72px;
  padding-bottom: 75px; }
  @media (min-width: 768px) {
    .promo__title {
      font-size: 43px;
      line-height: 50px;
      width: 540px;
      padding-top: 102px; } }
  @media (min-width: 1150px) {
    .promo__title {
      font-size: 53px;
      line-height: 57px;
      width: 700px;
      padding-bottom: 96px; } }
  .promo__title--index {
    box-sizing: border-box;
    min-height: 281px; }
    @media (min-width: 768px) {
      .promo__title--index {
        min-height: 627px;
        padding-top: 156px; } }

.promo__nav-list {
  width: 320px;
  margin-top: 47px; }
  @media (min-width: 768px) {
    .promo__nav-list {
      width: 768px; } }
  @media (min-width: 1150px) {
    .promo__nav-list {
      width: 1150px; } }

.promo-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .promo-list {
      display: flex;
      width: 668px; } }
  @media (min-width: 1150px) {
    .promo-list {
      width: 1050px; } }

@media (min-width: 768px) {
  .promo-list__item {
    width: 50%; } }

.promo-list__link {
  position: relative;
  display: block;
  padding: 24px 86px 31px 30px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff; }
  @media (min-width: 768px) {
    .promo-list__link {
      padding: 27px 90px 31px 36px;
      font-size: 20px;
      line-height: 30px; } }
  .promo-list__link:hover, .promo-list__link:focus, .promo-list__link:active {
    padding-bottom: 36px;
    margin-top: -5px; }

.promo-list__icon-interior {
  position: absolute;
  top: 23px;
  right: 36px;
  content: "";
  width: 40px;
  height: 62px;
  opacity: 0.5; }
  @media (min-width: 768px) {
    .promo-list__icon-interior {
      top: 29px; } }

.promo-list__link--interior {
  background-color: #63d1bb; }
  .promo-list__link--interior:active {
    background-color: #59d5bc; }
  .promo-list__link--interior:hover .promo-list__icon-interior,
  .promo-list__link--interior:focus .promo-list__icon-interior {
    opacity: 0.7; }
  .promo-list__link--interior:active .promo-list__icon-interior {
    opacity: 0.3; }

.promo-list__icon-toys {
  position: absolute;
  top: 21px;
  right: 27px;
  content: "";
  width: 60px;
  height: 60px;
  opacity: 0.5; }
  @media (min-width: 768px) {
    .promo-list__icon-toys {
      top: 31px;
      right: 33px; } }

.promo-list__link--toys {
  background-color: #56c3b2; }
  .promo-list__link--toys:active {
    background-color: #46c1ae; }
  .promo-list__link--toys:hover .promo-list__icon-toys,
  .promo-list__link--toys:focus .promo-list__icon-toys {
    opacity: 0.7; }
  .promo-list__link--toys:active .promo-list__icon-toys {
    opacity: 0.3; }

.promo-list__text {
  display: block;
  width: 150px; }

.reviews {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .reviews {
      width: 768px;
      margin-bottom: 80px;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 -10px; } }
  @media (min-width: 768px) and (min-resolution: 2dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto; } }
  @media (min-width: 1150px) {
    .reviews {
      width: 1050px;
      margin-bottom: 65px;
      min-height: 457px;
      background-position: 0 100%; } }

.reviews__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .reviews__wrapper {
      width: 668px;
      padding-top: 82px; } }
  @media (min-width: 1150px) {
    .reviews__wrapper {
      width: 875px;
      padding-top: 80px;
      padding-left: 175px; } }

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  font-weight: bold;
  color: #000000; }
  @media (min-width: 768px) {
    .reviews__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .reviews__title {
      font-size: 53px;
      line-height: 57px;
      padding: 0; } }

.reviews__item {
  margin: 0;
  padding-bottom: 33px; }

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 33px; }
  @media (min-width: 768px) {
    .reviews__text {
      margin: 0;
      padding-top: 39px;
      padding-bottom: 60px;
      font-size: 17px; } }
  @media (min-width: 1150px) {
    .reviews__text {
      padding-top: 35px;
      padding-bottom: 45px; } }

.reviews__prev-wrapper {
  margin-bottom: 35px;
  position: relative; }
  @media (min-width: 768px) {
    .reviews__prev-wrapper {
      width: 175px;
      position: absolute;
      bottom: -7px;
      right: 0;
      border: none; } }
  @media (min-width: 1150px) {
    .reviews__prev-wrapper {
      bottom: -5px; } }

.reviews__prev {
  background: url("../img/icon-left-arrow.svg") no-repeat 50%;
  width: 129px;
  min-height: 51px;
  box-sizing: border-box;
  border: 1px solid #ececec;
  overflow: visible; }
  @media (min-width: 768px) {
    .reviews__prev {
      width: 84px; } }
  .reviews__prev:hover, .reviews__prev:focus {
    opacity: 0.6; }
  .reviews__prev:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .reviews__prev {
      border: none; } }

.reviews__next {
  background: url("../img/icon-right-arrow.svg") no-repeat 50%;
  width: 129px;
  min-height: 51px;
  margin-left: -4px;
  box-sizing: border-box;
  overflow: visible;
  border: 1px solid #ececec; }
  @media (min-width: 768px) {
    .reviews__next {
      width: 90px;
      border: none; } }
  .reviews__next:hover, .reviews__next:focus {
    opacity: 0.6; }
  .reviews__next:active {
    opacity: 0.3; }

.reviews__btn {
  width: 100%;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .reviews__btn {
      width: 175px;
      position: absolute;
      top: 79px;
      right: 0;
      font-size: 17px; } }
  @media (min-width: 1150px) {
    .reviews__btn {
      top: 80px; } }

.author {
  display: flex;
  flex-direction: column;
  font-style: normal; }
  @media (min-width: 768px) {
    .author {
      font-size: 18px; } }
  @media (min-width: 768px) {
    .author {
      font-size: 17px; } }

.author__name {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 5px; }
  @media (min-width: 768px) {
    .author__name {
      font-size: 18px;
      padding: 0; } }
  @media (min-width: 1150px) {
    .author__name {
      font-size: 17px;
      padding: 0;
      padding-bottom: 5px; } }

.author__nick {
  line-height: 30px; }
  @media (min-width: 768px) {
    .author__nick {
      padding-top: 7px; } }
  @media (min-width: 1150px) {
    .author__nick {
      padding: 0; } }

.top-sales {
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .top-sales {
      padding-top: 15px;
      width: 668px;
      margin-bottom: 60px; } }
  @media (min-width: 1150px) {
    .top-sales {
      position: relative;
      width: 1050px;
      padding: 0;
      padding-left: 175px;
      margin-bottom: 70px; } }

.top-sales__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  color: #000000; }
  @media (min-width: 768px) {
    .top-sales__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .top-sales__title {
      font-size: 53px;
      line-height: 57px; } }

.top-sales__uppercase {
  margin: 0;
  padding-top: 7px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb; }
  @media (min-width: 768px) {
    .top-sales__uppercase {
      width: 85px;
      box-sizing: border-box;
      padding: 7px 8px 7px 10px;
      text-align: center;
      line-height: 17px;
      margin-right: 24px; } }

.top-sales__wrapper-title {
  margin-bottom: 18px; }
  @media (min-width: 768px) {
    .top-sales__wrapper-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 38px; } }
  @media (min-width: 1150px) {
    .top-sales__wrapper-title {
      width: 663px;
      flex-direction: row-reverse;
      position: absolute;
      left: 38px;
      top: 68px; } }

@media (min-width: 768px) {
  .top-sales__wrapper-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 668px;
    min-height: 415px; } }

@media (min-width: 1150px) {
  .top-sales__wrapper-content {
    width: 875px;
    min-height: 643px; } }

.top-sales__wrapper-text {
  font-size: 15px;
  margin-bottom: 31px; }
  @media (min-width: 768px) {
    .top-sales__wrapper-text {
      width: 292px;
      margin-bottom: 0; } }
  @media (min-width: 1150px) {
    .top-sales__wrapper-text {
      margin-top: 8px; } }

.top-sales__text {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .top-sales__text {
      line-height: 30px;
      font-size: 17px;
      margin: 0;
      margin-bottom: 40px; } }
  @media (min-width: 1150px) {
    .top-sales__text {
      margin-top: 153px;
      margin-bottom: 52px; } }

@media (min-width: 768px) {
  .top-sales__wrapper-order {
    margin-top: auto;
    width: 292px; } }

.top-sales__price {
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 22px; }
  @media (min-width: 768px) {
    .top-sales__price {
      font-size: 20px;
      margin: 0; } }

.top-sales__btn {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 35px;
  font-size: 18px; }
  @media (min-width: 768px) {
    .top-sales__btn {
      padding: 13px 10px 11px;
      margin: 0;
      margin-top: 34px;
      font-size: 17px; } }
  @media (min-width: 1150px) {
    .top-sales__btn {
      width: 100%;
      margin: 0 auto;
      margin-top: 30px;
      padding: 18px 10px 13px; } }

@media (min-width: 768px) {
  .top-sales__img {
    position: absolute;
    top: 7px;
    right: 0;
    width: 333px;
    height: 100%;
    object-fit: contain; } }

@media (min-width: 1150px) {
  .top-sales__img {
    width: 60%;
    height: 98%;
    object-fit: cover;
    z-index: -1; } }

.table-attributes {
  width: 260px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  border-spacing: 0; }
  @media (min-width: 768px) {
    .table-attributes {
      width: 296px; } }
  @media (min-width: 1150px) {
    .table-attributes {
      width: 291px; } }

.table-attributes tr {
  border-bottom: 1px solid #ececec;
  text-align: left; }

.table-attributes th {
  font-weight: normal;
  height: 34px;
  padding: 0;
  padding-bottom: 5px; }

.table-attributes th:first-of-type {
  width: 97px; }

.video-production {
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
  margin-bottom: 56px; }
  @media (min-width: 768px) {
    .video-production {
      width: 668px;
      margin-bottom: 64px; } }
  @media (min-width: 1150px) {
    .video-production {
      width: 1050px;
      display: grid;
      grid-template-columns: 682px 1fr;
      grid-template-rows: repeat(3, min-content);
      margin-bottom: 99px; } }

.video-production__player {
  margin-bottom: 55px; }
  @media (min-width: 768px) {
    .video-production__player {
      order: -1; } }
  @media (min-width: 1150px) {
    .video-production__player {
      grid-row-start: 1;
      grid-row-end: 4; } }

.video-production__title {
  position: relative;
  width: 140px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 26px;
  padding-left: 60px;
  font-size: 17px;
  color: #000000; }
  .video-production__title::before {
    position: absolute;
    top: 8px;
    left: 2px;
    width: 32px;
    height: 32px;
    content: "";
    background: url("../img/icon-video.svg"); }
  @media (min-width: 768px) {
    .video-production__title {
      font-size: 20px;
      width: 500px;
      margin: 0;
      padding: 37px 35px 15px 106px; }
      .video-production__title::before {
        position: absolute;
        top: 27px;
        left: 41px;
        width: 32px;
        height: 32px;
        content: "";
        background: url("../img/icon-video.svg"); } }
  @media (min-width: 1150px) {
    .video-production__title {
      width: 230px;
      margin: 0 auto;
      margin-top: 43px;
      padding: 52px 34px 7px 53px; }
      .video-production__title::before {
        position: absolute;
        top: -3px;
        left: 52px;
        width: 32px;
        height: 32px;
        content: "";
        background: url("../img/icon-video.svg"); } }

.video-production__description {
  width: 194px;
  padding: 16px 34px 28px 34px;
  font-size: 13px; }
  @media (min-width: 768px) {
    .video-production__description {
      width: 595px;
      margin: 0;
      padding: 8px 15px 41px 40px;
      font-size: 15px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .video-production__description {
      width: 230px;
      margin: 0 auto;
      padding: 10px 34px 41px 53px; } }

.video-production__btn {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 16px 10px;
  font-size: 18px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .video-production__btn {
      width: 584px;
      font-size: 17px;
      padding: 17px 15px 14px;
      margin-bottom: 45px; } }
  @media (min-width: 1150px) {
    .video-production__btn {
      width: 230px;
      margin-bottom: 60px;
      margin-left: 81px; } }
  .video-production__btn:hover, .video-production__btn:focus {
    color: #444444;
    background-color: #ffffff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .video-production__btn:active {
    color: #444444;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.advantages {
  box-sizing: border-box;
  width: 320px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 26px; }
  .advantages::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-size: contain; }
  @media (min-width: 768px) {
    .advantages {
      width: 768px;
      margin-bottom: 68px; }
      .advantages::before {
        width: 768px;
        height: 16px;
        top: -9px; } }
  @media (min-width: 1150px) {
    .advantages {
      width: 1150px;
      margin-bottom: 72px; }
      .advantages::before {
        width: 1050px;
        top: 0;
        height: 21px;
        left: 50px; } }

.advantages__wrapper {
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .advantages__wrapper {
      width: 668px; } }
  @media (min-width: 1150px) {
    .advantages__wrapper {
      width: 1050px;
      padding-top: 58px;
      padding-left: 175px; } }

.advantages__title {
  box-sizing: border-box;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 37px 0 27px; }
  @media (min-width: 768px) {
    .advantages__title {
      font-size: 43px;
      line-height: 50px;
      width: 660px;
      padding: 68px 0 40px; } }
  @media (min-width: 1150px) {
    .advantages__title {
      font-size: 53px;
      line-height: 57px;
      width: 700px;
      padding: 35px 10px 40px 0; } }

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 260px; }

.benefits {
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  display: grid; }
  @media (min-width: 768px) {
    .benefits {
      width: 675px;
      min-height: 425px;
      grid-template-columns: 325px 325px;
      grid-template-rows: repeat(3, min-content);
      column-gap: 10px;
      row-gap: 45px;
      grid-auto-flow: column; } }
  @media (min-width: 1150px) {
    .benefits {
      width: 700px;
      column-gap: 23px; } }

.benefits__item {
  position: relative;
  width: 260px;
  margin-bottom: 30px;
  padding-top: 57px;
  padding-right: 30px; }
  .benefits__item::before {
    position: absolute;
    width: 55px;
    height: 37px;
    top: 0;
    left: 0; }
  @media (min-width: 768px) {
    .benefits__item {
      width: 295px;
      font-size: 20px;
      line-height: 22px;
      margin: 0; } }
  .benefits__item--flower::before {
    content: url("../img/icon-feature-flower.svg");
    left: 8px; }
  .benefits__item--money {
    padding-top: 52px; }
    .benefits__item--money::before {
      content: url("../img/icon-feature-money.svg");
      top: -2px; }
  .benefits__item--heart {
    padding-top: 54px; }
    .benefits__item--heart::before {
      content: url("../img/icon-feature-heart.svg");
      top: 4px;
      left: 7px; }
      @media (min-width: 768px) {
        .benefits__item--heart::before {
          top: 7px;
          left: 8px; } }
  .benefits__item--ball {
    padding-top: 53px; }
    .benefits__item--ball::before {
      content: url("../img/icon-feature-ball.svg");
      left: 2px; }
      @media (min-width: 768px) {
        .benefits__item--ball::before {
          top: 5px;
          left: 3px; } }
    @media (min-width: 768px) {
      .benefits__item--ball {
        padding-top: 57px; } }
  .benefits__item--rocket {
    padding-top: 51px; }
    .benefits__item--rocket::before {
      content: url("../img/icon-feature-rocket.svg");
      left: -5px; }
  .benefits__item--gift {
    padding-top: 55px; }
    .benefits__item--gift::before {
      content: url("../img/icon-feature-gift.svg");
      left: 5px;
      top: 2px; }
      @media (min-width: 768px) {
        .benefits__item--gift::before {
          top: 2px;
          left: 2px; } }

.contacts {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px; }
  @media (min-width: 768px) {
    .contacts {
      width: 768px;
      margin-bottom: 56px; } }
  @media (min-width: 1150px) {
    .contacts {
      width: 1150px;
      margin-bottom: 107px; } }
  .contacts::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat;
    background-size: contain; }
    @media (min-width: 768px) {
      .contacts::before {
        width: 768px;
        height: 16px;
        top: 7px; } }
    @media (min-width: 1150px) {
      .contacts::before {
        width: 1050px;
        height: 21px;
        top: 0;
        left: 50px; } }

.contacts__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 260px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contacts__wrapper {
      width: 668px; }
      .contacts__wrapper::after {
        position: absolute;
        content: "";
        width: 47px;
        height: 81px;
        top: 68px;
        right: 3px;
        background-image: url("../img/icon-flag.svg");
        background-repeat: no-repeat;
        background-size: contain; } }
  @media (min-width: 1150px) {
    .contacts__wrapper {
      width: 1050px;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 178px;
      padding-left: 175px; }
      .contacts__wrapper::after {
        top: 158px;
        left: 63px; } }

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 44px 0 27px; }
  @media (min-width: 768px) {
    .contacts__title {
      font-size: 43px;
      line-height: 50px;
      padding: 92px 0 47px; } }
  @media (min-width: 1150px) {
    .contacts__title {
      font-size: 53px;
      line-height: 57px;
      padding: 0;
      padding-bottom: 34px; } }

.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  background: url("../img/map-mobile@1x.jpg") no-repeat; }
  @media (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/map-mobile@2x.jpg");
      background-size: cover; } }
  @media (min-width: 768px) {
    .contacts__map {
      background: url("../img/map-tablet@1x.jpg") no-repeat; } }
  @media (min-width: 768px) and (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: cover; } }
  @media (min-width: 1150px) {
    .contacts__map {
      background: url("../img/map-desktop@1x.jpg") no-repeat;
      width: 527px;
      position: absolute;
      top: 95px;
      right: 50px; } }
  @media (min-width: 1150px) and (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: cover; } }

.contacts__iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 457px;
  border: 0; }
  @media (min-width: 768px) {
    .contacts__iframe {
      width: 100%; } }
  @media (min-width: 1150px) {
    .contacts__iframe {
      width: 527px;
      left: 0; } }

.contacts__attributes {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .contacts__attributes {
      margin-bottom: 25px; } }
  @media (min-width: 1150px) {
    .contacts__attributes {
      margin: 0; } }
  .contacts__attributes tr {
    line-height: 30px;
    border-bottom: none;
    text-align: left; }
  .contacts__attributes th {
    padding-bottom: 22px;
    vertical-align: top; }
  .contacts__attributes th:first-of-type {
    width: 76px; }
  @media (min-width: 768px) {
    .contacts__attributes {
      width: 668px; }
      .contacts__attributes tbody {
        display: grid;
        grid-template-columns: 1fr 1fr; }
      .contacts__attributes tr {
        font-size: 17px; }
      .contacts__attributes th:first-of-type {
        width: 78px; } }
  @media (min-width: 1150px) {
    .contacts__attributes {
      display: block;
      width: 320px; }
      .contacts__attributes tbody {
        grid-template-columns: 1fr;
        row-gap: 3px; } }

.contacts__btn {
  width: 260px;
  margin: 40px auto;
  font-size: 18px; }
  @media (min-width: 768px) {
    .contacts__btn {
      width: 230px;
      margin: 0 auto;
      margin-top: 57px;
      font-size: 17px; } }
  @media (min-width: 1150px) {
    .contacts__btn {
      width: 230px;
      margin-left: 225px;
      margin-top: 0; } }

.contacts__email {
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 2px;
  color: #444444;
  text-decoration: none; }
  .contacts__email:hover, .contacts__email:focus {
    border-bottom: 1px solid #62d1ba;
    color: #46c1ae; }
  .contacts__email:active {
    border-bottom: 1px solid rgba(98, 209, 186, 0.1);
    color: #46c1ae; }
  @media (min-width: 1150px) {
    .contacts__email {
      padding-bottom: 7px; } }

.catalog {
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .catalog {
      width: 668px; } }
  @media (min-width: 1150px) {
    .catalog {
      width: 1050px; } }

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .catalog__list {
      margin: 0; } }
  @media (min-width: 1150px) {
    .catalog__list {
      display: grid;
      min-height: 659px;
      grid-template-columns: 316px 316px 316px;
      column-gap: 52px; } }

.catalog__item {
  margin-bottom: 29px;
  border: 1px solid #ececec; }
  @media (min-width: 768px) {
    .catalog__item {
      margin-bottom: 51px; } }
  @media (min-width: 1150px) {
    .catalog__item {
      min-height: 659px;
      margin-bottom: 58px; } }

@media (min-width: 768px) {
  .catalog__item:last-child {
    margin-bottom: 49px; } }

@media (min-width: 1150px) {
  .catalog__item:last-child {
    margin-bottom: 58px; } }

@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

.product-card:hover, .product-card:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.product-card:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .product-card__image {
    width: 330px;
    height: 335px; } }

@media (min-width: 1150px) {
  .product-card__image {
    width: 316px;
    height: 465px; } }

.product-card__image-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.product-card__description {
  padding: 0 28px;
  padding-top: 30px;
  min-height: 150px; }
  @media (min-width: 768px) {
    .product-card__description {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 335px;
      padding: 28px 31px 26px 35px; } }
  @media (min-width: 1150px) {
    .product-card__description {
      min-height: 191px;
      padding: 26px 31px 22px 25px; } }

.product-card__link {
  text-decoration: none;
  color: #000000; }
  .product-card__link:hover, .product-card__link:focus {
    opacity: 0.6; }
  .product-card__link:active {
    opacity: 0.3; }

.product-card__title {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 4px;
  min-height: 24px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold; }
  @media (min-width: 768px) {
    .product-card__title {
      font-size: 20px;
      margin: 0;
      margin-bottom: 6px;
      padding: 0; } }
  @media (min-width: 1150px) {
    .product-card__title {
      font-size: 20px;
      margin: 0;
      margin-bottom: 6px; } }

.product-card__text {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 17px; }
  @media (min-width: 768px) {
    .product-card__text {
      font-size: 15px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .product-card__text {
      margin: 0; } }

.product-card__order {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 71px; }
  .product-card__order::before {
    position: absolute;
    top: 0;
    content: "";
    width: 204px;
    height: 2px;
    background-color: #ececec; }
    @media (min-width: 1150px) {
      .product-card__order::before {
        top: 5px;
        width: 260px; } }
  @media (min-width: 768px) {
    .product-card__order {
      min-height: 48px;
      margin-top: auto;
      padding-top: 24px; }
      .product-card__order::before {
        width: 258px;
        top: 0; } }

.product-card__price {
  margin: 0;
  font-weight: bold;
  color: #000000;
  font-size: 15px; }
  @media (min-width: 768px) {
    .product-card__price {
      font-size: 17px; } }

.product-card__btn-image {
  fill: #000000;
  opacity: 0.2; }
  .product-card__btn-image:hover, .product-card__btn-image:focus {
    fill: #63d1bb;
    opacity: 1; }
  .product-card__btn-image:active {
    opacity: 0.3; }

.video {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0; }

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/icon-play.svg");
  cursor: pointer;
  transition: 0.4s; }
  .video__btn:hover, .video__btn:focus {
    transform: translate(-50%, -50%) scale(1.2); }
  .video__btn:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3; }

@media (min-width: 768px) {
  .checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px; } }

@media (min-width: 1150px) {
  .checkbox {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0; } }

.checkbox__item {
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 19px; }
  .checkbox__item:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .checkbox__item {
      margin-bottom: 29px; } }

.checkbox__item label {
  position: relative;
  display: block;
  padding: 12px 30px 12px 60px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .checkbox__item label {
      box-sizing: border-box;
      width: 230px;
      padding-left: 82px;
      padding-top: 17px;
      padding-right: 20px; } }

.checkbox__item-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 39px;
  box-sizing: border-box;
  border: 2px solid #444444;
  overflow: hidden;
  background-color: transparent; }
  @media (min-width: 768px) {
    .checkbox__item-input + label::before {
      width: 51px;
      height: 52px; } }
  @media (min-width: 1150px) {
    .checkbox__item-input + label::before {
      width: 52px;
      height: 52px;
      top: -2px; } }

.checkbox__item-input:checked + label::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 16px;
  background: url("../img/icon-tick.svg") no-repeat 50% 100%; }
  @media (min-width: 768px) {
    .checkbox__item-input:checked + label::after {
      width: 28px;
      height: 24px;
      left: 12px;
      top: 14px; } }

.checkbox__item-input:hover + label::before,
.checkbox__item-input:focus + label::before {
  border-color: #63d1bb;
  pointer-events: none; }

.checkbox__item-input:active + label::before {
  border-color: #444444;
  opacity: 0.3;
  pointer-events: none; }

.filter {
  border: none;
  padding: 0;
  margin-bottom: 43px; }
  @media (min-width: 768px) {
    .filter {
      margin-bottom: 48px; } }

fieldset {
  border: none; }

.filter__user {
  width: 260px;
  position: relative;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .filter__user {
      width: 668px; } }
  @media (min-width: 1150px) {
    .filter__user {
      width: 1050px; } }

.filter__user input {
  font-size: 17px;
  line-height: 18px; }
  .filter__user input::placeholder {
    color: #444444; }
  @media (min-width: 768px) {
    .filter__user input {
      font-size: 19px; } }

.filter__user label {
  display: block;
  font-size: 18px;
  line-height: 17px;
  font-weight: bold; }

.filter__commentary {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px 14px;
  min-height: 142px;
  border: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  color: #000000;
  outline: none;
  resize: none; }
  .filter__commentary::placeholder {
    opacity: 0.3; }
  .filter__commentary:hover, .filter__commentary:focus, .filter__commentary:active {
    border-color: #62d1ba; }
  @media (min-width: 768px) {
    .filter__commentary {
      font-size: 19px; } }
  @media (min-width: 1150px) {
    .filter__commentary {
      width: 700px; } }

.filter__item {
  position: relative;
  display: flex;
  width: 260px;
  margin: 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb; }
  .filter__item--contact {
    margin-bottom: 8px; }
  .filter__item--full {
    margin-bottom: 24px; }
  .filter__item--email {
    margin-bottom: 7px; }
  @media (min-width: 768px) {
    .filter__item {
      width: 88px;
      margin-top: 22px; }
      .filter__item--color {
        margin-top: 19px; }
      .filter__item--full {
        margin-top: 2px; }
      .filter__item--contact {
        margin: 0; }
      .filter__item--email {
        margin-bottom: 7px;
        margin-top: 2px; } }
  .filter__item::after {
    display: block;
    content: "";
    width: 182px;
    height: 6px;
    margin-left: 20px;
    border-bottom: 1px solid #62d1ba;
    flex-grow: 1; }
    @media (min-width: 768px) {
      .filter__item::after {
        display: none; } }

.filter__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.filter__input-text {
  box-sizing: border-box;
  padding: 12px 0;
  margin-bottom: 20px;
  width: 100%;
  min-height: 48px;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  outline: 0; }
  .filter__input-text::placeholder {
    opacity: 0.3; }
  .filter__input-text:hover, .filter__input-text:focus, .filter__input-text:active {
    border-bottom-color: #62d1ba; }
  @media (min-width: 768px) {
    .filter__input-text {
      width: 503px;
      min-height: 36px;
      padding: 0;
      padding-left: 17px;
      padding-bottom: 12px;
      font-size: 19px;
      margin-top: -5px;
      flex-grow: 1; }
      .filter__input-text::placeholder {
        opacity: 0.3; } }
  @media (min-width: 1150px) {
    .filter__input-text {
      width: 700px;
      margin-top: -5px;
      padding-left: 19px; } }

.filter__btn {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-size: 17px;
  line-height: 16px;
  padding: 18px 10px 14px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .filter__btn {
      width: 230px;
      margin: 0; } }

.filter__content-wrapper {
  position: relative; }
  @media (min-width: 768px) {
    .filter__content-wrapper {
      width: 500px;
      padding-left: 80px; } }
  @media (min-width: 1150px) {
    .filter__content-wrapper {
      width: 790px;
      padding-left: 25px; } }

.filter__icon-tel {
  position: absolute;
  top: 7px;
  right: 8px;
  content: "";
  opacity: 0.2; }
  @media (min-width: 768px) {
    .filter__icon-tel {
      top: -5px;
      right: 27px; } }
  @media (min-width: 1150px) {
    .filter__icon-tel {
      bottom: 27px;
      right: 100px; } }

.filter__input-text:hover ~ .filter__icon-tel,
.filter__input-text:focus ~ .filter__icon-tel,
.filter__input-text:active ~ .filter__icon-tel {
  opacity: 1;
  fill: #63d1bb; }

.filter__icon-mail {
  position: absolute;
  bottom: 28px;
  right: 3px;
  content: "";
  opacity: 0.2; }
  @media (min-width: 768px) {
    .filter__icon-mail {
      bottom: 29px;
      right: 22px; } }
  @media (min-width: 1150px) {
    .filter__icon-mail {
      bottom: 29px;
      right: 93px; } }

.filter__input-text:hover ~ .filter__icon-mail,
.filter__input-text:focus ~ .filter__icon-mail,
.filter__input-text:active ~ .filter__icon-mail {
  opacity: 1;
  fill: #63d1bb; }

@media (min-width: 768px) {
  .filter__wrapper-bottom {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; } }

@media (min-width: 1150px) {
  .filter__wrapper-bottom {
    width: 700px; } }

.filter__type {
  padding: 16px 0 19px; }
  @media (min-width: 768px) {
    .filter__type {
      padding: 0;
      margin-bottom: 30px; } }
  @media (min-width: 1150px) {
    .filter__type {
      margin-bottom: 26px; } }

.filter__color {
  padding: 13px 0; }
  @media (min-width: 768px) {
    .filter__color {
      padding: 48px 0 27px; } }
  @media (min-width: 1150px) {
    .filter__color {
      padding: 52px 0 24px; } }

.filter__user-full {
  padding: 20px 0 0; }
  @media (min-width: 768px) {
    .filter__user-full {
      padding: 67px 0 10px; } }
  @media (min-width: 1150px) {
    .filter__user-full {
      padding: 67px 0 10px; } }

.filter__user-contact {
  position: relative;
  padding: 14px 0 0; }
  @media (min-width: 768px) {
    .filter__user-contact {
      padding: 64px 0 29px; } }
  @media (min-width: 1150px) {
    .filter__user-contact {
      padding: 66px 0 29px; } }

.filter__user-message {
  padding: 16px 0 0; }
  @media (min-width: 768px) {
    .filter__user-message {
      padding: 50px 50px 55px; } }
  @media (min-width: 1150px) {
    .filter__user-message {
      padding: 50px; } }

.filter__text {
  width: 260px;
  margin: 0 auto;
  padding: 16px 0 30px;
  font-size: 14px;
  line-height: 16px; }
  @media (min-width: 768px) {
    .filter__text {
      width: 303px;
      margin: 0;
      padding: 13px 0 10px;
      font-size: 17px;
      line-height: 30px; } }

@media (min-width: 768px) {
  .filter__user-wrapper {
    display: flex;
    width: 500px;
    margin-bottom: 21px; } }

@media (min-width: 1150px) {
  .filter__user-wrapper {
    width: 700px; } }

.form {
  min-width: 320px;
  font-size: 17px; }
  @media (min-width: 768px) {
    .form {
      font-size: 19px;
      line-height: 18px; } }

@media (min-width: 768px) {
  .form__feedback {
    margin-top: 40px; } }

@media (min-width: 768px) {
  .form__background {
    background-color: #f1f1f1; } }

.form__wrapper {
  width: 260px;
  margin: 0 auto; }
  .form__wrapper--email {
    margin-top: 16px; }
  @media (min-width: 768px) {
    .form__wrapper {
      display: flex;
      width: 668px; }
      .form__wrapper--email {
        margin-top: 20px; } }
  @media (min-width: 1150px) {
    .form__wrapper {
      width: 926px; } }
  .form__wrapper label {
    font-weight: bold; }
    @media (min-width: 768px) {
      .form__wrapper label {
        margin-right: 24px; } }

.form__text {
  width: 260px;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 0;
  font-size: 13px; }
  @media (min-width: 768px) {
    .form__text {
      width: 668px;
      padding: 20px 0;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .form__text {
      padding-left: 113px;
      padding-top: 70px;
      width: 790px; } }

.radio__item {
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  font-weight: bold; }
  @media (min-width: 768px) {
    .radio__item {
      margin-bottom: 26px; } }

.radio__item label {
  position: relative;
  display: block;
  padding: 12px 30px 12px 60px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .radio__item label {
      padding: 20px 30px 12px 80px; } }

.radio__item-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 41px;
  height: 41px;
  box-sizing: border-box;
  border: 2px solid #444444;
  overflow: hidden;
  background-color: transparent;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .radio__item-input + label::before {
      width: 51px;
      height: 51px; } }

.radio__item-input:checked + label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 15px;
  width: 18px;
  height: 18px;
  background-color: #63d1bb;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .radio__item-input:checked + label::after {
      left: 18px;
      top: 20px; } }

.radio__item-input:hover + label::before,
.radio__item-input:focus + label::before {
  border-color: #63d1bb;
  pointer-events: none; }

.radio__item-input:hover + label::after,
.radio__item-input:focus + label::after,
.radio__item-input:active + label::after,
.radio__item-input:checked + label:checked {
  background-color: #63d1bb;
  pointer-events: none; }

.radio__item-input:active + label::before {
  border-color: #444444;
  opacity: 0.3;
  pointer-events: none; }

.radio__item-input:disabled + label::before {
  border-color: #444444;
  pointer-events: none; }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }
  .modal-overlay--opened {
    display: block; }

.choice {
  text-align: center; }
  @media (min-width: 768px) {
    .choice {
      width: 354px; } }

.choice__form-title {
  margin-bottom: 13px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .choice__form-title {
      width: 354px;
      font-size: 30px;
      line-height: 57px; } }

.choice__subtitle {
  font-size: 15px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .choice__subtitle {
      font-size: 17px;
      margin-top: 11px; } }

.choice__list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 37px; }
  @media (min-width: 768px) {
    .choice__list {
      width: 350px;
      margin-top: 17px; } }

.choice__item {
  display: none;
  box-sizing: border-box;
  padding: 0;
  text-align: center; }

.choice__item-label {
  display: block;
  width: 82px;
  height: 52px;
  padding: 18px 10px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 16px;
  font-family: inherit;
  font-weight: bold;
  border: 2px solid rgba(241, 241, 241, 0.1); }
  @media (min-width: 768px) {
    .choice__item-label {
      width: 112px; } }

.choice__item:hover + .choice__item-label {
  border-color: rgba(241, 241, 241, 0.3); }

.choice__item:checked + .choice__item-label {
  border-color: #63d1bb; }

.choice__btn {
  width: 100%;
  margin-bottom: auto;
  line-height: 16px;
  border: none;
  font-size: 17px; }
  @media (min-width: 768px) {
    .choice__btn {
      width: 350px; } }
